@font-face {
  font-family: 'iconfont';  /* project id 1132498 */
  src: url('//at.alicdn.com/t/font_1132498_2sxbnlumqtt.eot');
  src: url('//at.alicdn.com/t/font_1132498_2sxbnlumqtt.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1132498_2sxbnlumqtt.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1132498_2sxbnlumqtt.woff') format('woff'),
  url('//at.alicdn.com/t/font_1132498_2sxbnlumqtt.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1132498_2sxbnlumqtt.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}