body {
  color: #fff;
  background-color: #363636;
}
body .canvasWrap {
  position: fixed;
  bottom: 0;
  left: 0;
}
#login-layout {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 348px;
  width: 500px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 4px #fff;
  border: solid 1px #ddd;
  border-radius: 20px;
}
#login-layout .login-wrap {
  padding: 30px;
}
#login-layout .ant-card {
  background: transparent;
  color: #fff;
}
#login-layout .ant-card .ant-card-head {
  color: #fff;
}
